{% load static %}
<footer id="contact" class="pt-5">
  <div class='container my-5'>
    <div class='row'>
      <div class='col-md-6 mr-auto'>
        <h3>
          Contact us
        </h3>
        <p class="contact-divider bg-primary my-2"></p>
        <p>
          Contact us today for a FREE consultation.
        </p>
      </div>
      <div class='col-auto mt-3'>
        <ul class='contact-list'>
          <li>
            <img src="{% static 'images/icons/envelope.svg' %}" alt='email' />
            <a href='mailto:info@wymco.co'>
              info@wymco.co
            </a>
          </li>
          <li>
            <img src="{% static 'images/icons/geo.svg' %}" alt='geo' />
            Toronto
          </li>
          <li>
            <img src="{% static 'images/icons/phone.svg' %}" alt='phone' />
            647-686-2594
          </li>
          <li>
            <img src="{% static 'images/icons/geo.svg' %}" alt='geo' />
            New York
          </li>
          <li>
            <img src="{% static 'images/icons/phone.svg' %}" alt='phone' />
            347-503-9378
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class='container text-center'>
    &#169 2020, Wymco - Canada. All Rights Reserved
  </div>
</footer>